<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxtk_desktop_2019" version="2022.10.18.2" targetFramework="native" />
  <package id="Microsoft.DXSDK.D3DX" version="9.29.952.8" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.1418.22" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.220914.1" targetFramework="native" />
  <package id="Microsoft.XAudio2.Redist" version="1.2.9" targetFramework="native" />
  <package id="sdl2.nuget" version="2.24.2" targetFramework="native" />
  <package id="sdl2.nuget.redist" version="2.24.2" targetFramework="native" />
</packages>